{minimum_otp_vsn, "22.0"}.

{cover_enabled, false}.
{edoc_opts, [{preprocess, true}]}.
{erl_opts, [warnings_as_errors,
            {src_dirs, ["src", "priv/tracers"]},
            {platform_define, "^[0-9]+", namespaced_types},
            {platform_define, "^[0-9]+", set_env_options},
            {platform_define, "^R15", "old_hash"},
            {i, "./_build/default/plugins/gpb/include"},
            {d, 'TEST_FS2_BACKEND_IN_RIAK_KV'}]}.

{eunit_opts, [verbose]}.

{xref_checks,[undefined_function_calls,undefined_functions]}.

{erl_first_files, [
                   "src/riak_kv_backend.erl"
                  ]}.

{plugins, [{rebar3_gpb_plugin, {git, "https://github.com/OpenRiak/rebar3_gpb_plugin", {tag, "openriak-3.4"}}},
           {eqc_rebar, {git, "https://github.com/Quviq/eqc-rebar", {branch, "master"}}}]}.

{gpb_opts, [{module_name_suffix, "_pb"},
            {i, "src"}]}.

{dialyzer, [{plt_apps, all_deps}]}.

{provider_hooks, [
                  {pre, [{compile, {protobuf, compile}}]}
                 ]}.

{profiles, [
    {test, [{deps, [{meck, {git, "https://github.com/OpenRiak/meck.git", {branch, "openriak-3.2"}}}]}]},
    {gha, [{erl_opts, [{d, 'GITHUBEXCLUDE'}]}]}
]}.

{deps, [
    {riak_core, {git, "https://github.com/TI-Tokyo/riak_core.git", {branch, "tiot/openriak-3.4/tictacaae-and-nextgenrepl-cli-commands"}}},
    {sidejob, {git, "https://github.com/OpenRiak/sidejob.git", {branch, "openriak-3.2"}}},
    {bitcask, {git, "https://github.com/OpenRiak/bitcask.git", {branch, "openriak-3.2"}}},
    {redbug, {git, "https://github.com/OpenRiak/redbug", {branch, "openriak-3.2"}}},
    {recon, {git, "https://github.com/OpenRiak/recon", {branch, "openriak-3.2"}}},
    {sext, {git, "https://github.com/OpenRiak/sext.git", {branch, "openriak-3.2"}}},
    {riak_pipe, {git, "https://github.com/OpenRiak/riak_pipe.git", {branch, "openriak-3.4"}}},
    {riak_dt, {git, "https://github.com/OpenRiak/riak_dt.git", {branch, "openriak-3.2"}}},
    {riak_api, {git, "https://github.com/OpenRiak/riak_api.git", {branch, "openriak-3.4"}}},
    {hyper, {git, "https://github.com/OpenRiak/hyper", {branch, "openriak-3.2"}}},
    {kv_index_tictactree, {git, "https://github.com/TI-Tokyo/kv_index_tictactree.git", {branch, "tiot/openriak-3.4/tictacaae-and-nextgenrepl-cli-commands"}}},
    {rhc, {git, "https://github.com/OpenRiak/riak-erlang-http-client", {branch, "openriak-3.4"}}}
]}.
